.vector-icon55 {
  position: absolute;
  height: 208.33%;
  width: 125%;
  top: 1428.75%;
  right: 2477.5%;
  bottom: -1537.08%;
  left: -2502.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  mix-blend-mode: darken;
}
.email-m1 {
  width: 100%;
  position: relative;
  height: 24px;
  overflow: hidden;
}
