.fluentcomment-lightning-24-re-icon,
.vector-icon {
  position: absolute;
  top: 580px;
  left: 77px;
  width: 79px;
  height: 71px;
  overflow: hidden;
}
.vector-icon {
  height: 3.83%;
  width: 3.33%;
  top: 26.11%;
  right: 91.68%;
  bottom: 70.07%;
  left: 4.99%;
  max-width: 100%;
  max-height: 100%;
}
.fluentbuilding-people-16-fill-icon {
  position: absolute;
  top: 692px;
  left: 77px;
  width: 79px;
  height: 75px;
  overflow: hidden;
}
.fluentwindow-dev-tools-24-reg-icon,
.vector-icon1,
.vector-icon2 {
  position: absolute;
  top: 808px;
  left: 77px;
  width: 83px;
  height: 79px;
  overflow: hidden;
}
.vector-icon1,
.vector-icon2 {
  height: 3.42%;
  width: 3.96%;
  top: 32.08%;
  right: 90.99%;
  bottom: 64.5%;
  left: 5.05%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon2 {
  height: 4.43%;
  width: 3.9%;
  top: 62.55%;
  right: 91.04%;
  bottom: 33.02%;
}
.about,
.activity,
.channels,
.events,
.members,
.resources,
.welcome {
  position: absolute;
  top: 489px;
  left: 187px;
  letter-spacing: -0.02em;
  line-height: 150%;
  display: inline-block;
  width: 226px;
  height: 64px;
}
.about,
.activity,
.events,
.members,
.resources,
.welcome {
  top: 703px;
  left: 190px;
  width: 236px;
  height: 72px;
}
.about,
.activity,
.events,
.resources,
.welcome {
  top: 944px;
  left: 187px;
  width: 258px;
  height: 65px;
}
.about,
.activity,
.resources,
.welcome {
  top: 822px;
  left: 190px;
  width: 216px;
  height: 62px;
}
.about,
.activity,
.welcome {
  top: 1036px;
  left: 195px;
  width: 190px;
  height: 68px;
}
.activity,
.welcome {
  top: 580px;
  left: 190px;
  width: 324px;
  height: 71px;
}
.welcome {
  top: 331px;
  left: 187px;
  white-space: pre-wrap;
  width: 207px;
  height: 41px;
}
.frame-child,
.vector-icon3 {
  position: absolute;
  overflow: hidden;
}
.vector-icon3 {
  height: 4.23%;
  width: 3.62%;
  top: 69.53%;
  right: 91.04%;
  bottom: 26.24%;
  left: 5.34%;
  max-width: 100%;
  max-height: 100%;
}
.frame-child {
  top: 99px;
  left: 210px;
  width: 12px;
  height: 6px;
}
.fluentpeople-community-24-fil-icon {
  position: absolute;
  top: 138px;
  left: 72px;
  width: 104px;
  height: 100px;
  overflow: hidden;
}
.community-home {
  position: absolute;
  top: 145px;
  left: 226px;
  font-size: var(--font-size-45xl);
  font-family: var(--font-inter);
  display: inline-block;
  width: 558px;
  height: 85px;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.devicontwitter {
  position: absolute;
  top: 159px;
  left: 1330px;
  width: 64px;
  height: 58px;
  overflow: hidden;
}
.mdiyoutube-icon,
.riinstagram-fill-icon {
  position: absolute;
  top: 142px;
  left: 1174px;
  width: 96px;
  height: 92px;
  overflow: hidden;
}
.riinstagram-fill-icon {
  top: 147px;
  left: 1444px;
  width: 88px;
  height: 83px;
}
.fluentcomment-lightning-24-re-parent {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1490px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-figma-hand);
}
