.vector-icon48 {
  position: absolute;
  height: 40%;
  width: 40%;
  top: 30%;
  right: 30%;
  bottom: 30%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.teenyiconssearch-small-outlin1 {
  width: 100%;
  position: relative;
  height: 15px;
  overflow: hidden;
}
