.vector-icon47 {
  position: absolute;
  height: 93.33%;
  width: 93.33%;
  top: 3.33%;
  right: 3.33%;
  bottom: 3.33%;
  left: 3.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.teenyiconssearch-circle-outli1 {
  width: 100%;
  position: relative;
  height: 15px;
  overflow: hidden;
}
