.vector-icon45 {
  position: absolute;
  height: 420%;
  width: 513.33%;
  top: -840%;
  right: -3066.67%;
  bottom: 520%;
  left: 2653.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.teenyiconsarrow-right-circle-2 {
  width: 100%;
  position: relative;
  height: 15px;
  overflow: hidden;
}
